
/* EL CONTENEDOR QUE CREA LAS 4 COLUMNAS */
.galeria-cuadricula {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* ¡Aquí está la magia de las 4 columnas! */
  gap: 30px; 
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto; 
}

/* LOS DIVS ADENTRO DE LA CUADRÍCULA */
.galeria-cuadricula div {
  width: 100%;
  margin: 0; 
  /* Le agregamos aspect-ratio para forzar a que todos los divs sean cajas cuadradas perfectas */
  aspect-ratio: 1 / 1; 
}

/* TUS IMÁGENES */
.cardFunko {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hace que la foto llene la caja cuadrada sin deformarse */
  border-radius: 8px; 
  
  /* Estado Inicial */
  filter: grayscale(100%);
  border: 4px solid transparent; 
  transition: transform 0.4s ease, filter 0.4s ease, border-color 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
}

/* EL EFECTO HOVER */
.cardFunko:hover {
  transform: scale(1.60); 
  filter: grayscale(0%); 
   
  box-shadow: 18px 18px 22px #d32f2f, -18px -18px 22px #d32f2f;
  
  position: relative;
  z-index: 10;
}

/* RESPONSIVE: En tablets bajan a 2 columnas, en celulares a 1 */
@media (max-width: 992px) {
  .galeria-cuadricula {
    grid-template-columns: repeat(2, 1fr); 
  }
}
@media (max-width: 576px) {
  .galeria-cuadricula {
    grid-template-columns: 1fr; 
  }
}
body {
  background-image: url('../assets/img/FONDONEGRO1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
